body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(206, 206, 206);
}
.img-header {
    background-image: url(/img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    margin: 0;
}
.hover-white {
    transition: all 1s ease;
}
.hover-white:hover {
    color: rgb(218, 218, 218)!important;
}
.bg-white {
    opacity: .85;
}
.navbar {
    transition: all 1s ease;
}
.gradient-nav {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8407738095238095) 60%, rgba(8, 8, 8, 0.5858718487394958) 80%, rgba(0, 0, 0, 0.025647759103641476) 100%)!important;
}

/* About me */
.avatar {
    max-width: 300px;
    max-height: 300px;
}
@media (min-width: 768px) {
    .avatar {
        max-width: 300px;
        max-height: 250px;
    }
}
@media (min-width: 992px) {
    .avatar {
        max-width: 300px;
        max-height: 300px;
    }
}
.bg-main {
    font-family: 'Quicksand', sans-serif;
    min-height: 575px;
    background-color: rgb(241, 241, 241);
    border: solid 1px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 0;
    box-shadow: 8px 0px 25px black,
                -8px 0px 25px black;
}

/* Slider */
.preview img {
    opacity: 0.4;
    border-radius: 30px!important;
}
.preview .activeBar {
    display: block;
    transform: scale(1.25);
    opacity: 1;
    animation: fadeIn;
    animation-duration: 2s;
}

/* technologies */
#technologies .row img {
    max-height: 300px;
}

/* Contact */
#contact form label {
    font-weight: bold;
}
.gradient-technologies {
    background: rgb(109, 220, 255);
    background: linear-gradient(0deg, rgba(109, 220, 255, 1) 0%, rgba(219, 232, 255, 1) 13%, rgb(233, 233, 233) 100%);
}
.gradient-contact {
    background: rgb(0, 103, 255);
    background: linear-gradient(0deg, rgba(0, 103, 255, 1) 0%, rgba(109, 220, 255, 1) 100%);
}